In [6]:
# pandas
import pandas as pd
import numpy as np

In [12]:
s = pd.Series([3, 2, 1])
d = pd.DataFrame([1, 2, 3])
n = np.array([1, 3, 9])

In [16]:
# list/ np array are not indexed
# pandas series are indexed
(n, s)

(array([1, 3, 9]),
 0    3
 1    2
 2    1
 dtype: int64)

In [17]:
c = pd.Series(n, index=['hh', 'cc', 'gg'])

In [18]:
c

hh    1
cc    3
gg    9
dtype: int64

In [19]:
companies = {
    'name':['NVDA', 'INTL', 'AMD'],
    'rev':[0, 6, 7],
}

df = pd.DataFrame(companies)
df

   name  rev
0  NVDA    0
1  INTL    6
2   AMD    7

In [21]:
countries_df = pd.read_csv('countries-2021.csv')
countries_df

          country    gdp  population  area          capital      continent
0   United States  20.49      331.00  9.53  WASHINGTON D.C.  North America
1           China  13.40     1439.32  9.60          Beijing           Asia
2           Japan   4.97      126.48  0.38            Tokyo           Asia
3         Germany   4.00       83.78  0.36           Berlin         Europe
4  United Kingdom   2.83       67.89  0.24           London         Europe
5          France   2.78       65.27  0.64            Paris         Europe
6           India   2.72     1380.00  3.29        New Delhi           Asia
7           Italy   2.07       60.46  0.30             Rome         Europe
8          Brazil   1.87      212.56  8.52         Brasilia  South America
9          Canada   1.71       37.74  9.98           Ottawa  North America

In [25]:
# eda: exploratory data analysis
countries_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   country     10 non-null     object
 1   gdp         10 non-null     float64
 2   population  10 non-null     float64
 3   area        10 non-null     float64
 4   capital     10 non-null     object
 5   continent   10 non-null     object
dtypes: float64(3), object(3)
memory usage: 608.0+ bytes

In [30]:
countries_df.head(3)

         country    gdp  population  area          capital      continent
0  United States  20.49      331.00  9.53  WASHINGTON D.C.  North America
1          China  13.40     1439.32  9.60          Beijing           Asia
2          Japan   4.97      126.48  0.38            Tokyo           Asia

In [31]:
countries_df.tail(3)

  country   gdp  population  area   capital      continent
7   Italy  2.07       60.46  0.30      Rome         Europe
8  Brazil  1.87      212.56  8.52  Brasilia  South America
9  Canada  1.71       37.74  9.98    Ottawa  North America

In [32]:
countries_df.describe()

             gdp   population      area
count  10.000000    10.000000  10.00000
mean    5.684000   380.450000   4.28400
std     6.243788   549.780564   4.51295
min     1.710000    37.740000   0.24000
25%     2.232500    65.925000   0.36500
50%     2.805000   105.130000   1.96500
75%     4.727500   301.390000   9.27750
max    20.490000  1439.320000   9.98000

In [33]:
#iterable
countries_df.index

RangeIndex(start=0, stop=10, step=1)

In [34]:
countries_df.columns

Index(['country', 'gdp', 'population', 'area', 'capital', 'continent'], dtype='object')

In [37]:
# slicing/ selecting
countries_df[:3]

         country    gdp  population  area          capital      continent
0  United States  20.49      331.00  9.53  WASHINGTON D.C.  North America
1          China  13.40     1439.32  9.60          Beijing           Asia
2          Japan   4.97      126.48  0.38            Tokyo           Asia

In [42]:
countries_df[['gdp', 'capital']]

     gdp          capital
0  20.49  WASHINGTON D.C.
1  13.40          Beijing
2   4.97            Tokyo
3   4.00           Berlin
4   2.83           London
5   2.78            Paris
6   2.72        New Delhi
7   2.07             Rome
8   1.87         Brasilia
9   1.71           Ottawa

In [43]:
# loc/ iloc is better('i' means integer/index)
countries_df.iloc[[1, 3], [2, 4]]

   population  capital
1     1439.32  Beijing
3       83.78   Berlin

In [46]:
countries_df[(countries_df.gdp < 2) & (countries_df.population > 100)]

  country   gdp  population  area   capital      continent
8  Brazil  1.87      212.56  8.52  Brasilia  South America

In [47]:
df = countries_df
df['gdp per capita'] = df.gdp * 1000000 / df.population

In [49]:
df.loc[:, 'gdp per capita']

0    61903.323263
1     9309.951922
2    39294.750158
3    47744.091669
4    41685.078804
5    42592.308871
6     1971.014493
7    34237.512405
8     8797.515995
9    45310.015898
Name: gdp per capita, dtype: float64

In [51]:
df.continent.value_counts(normalize=True)

Europe           0.4
Asia             0.3
North America    0.2
South America    0.1
Name: continent, dtype: float64

In [52]:
df.nunique()

country           10
gdp               10
population        10
area              10
capital           10
continent          4
gdp per capita    10
dtype: int64

In [56]:
df.sort_values(by='population', ascending=False, ignore_index=True)

,country,gdp,population,area,capital,continent,gdp per capita
0,China,13.40,1439.32,9.60,Beijing,Asia,9309.951922
1,India,2.72,1380.00,3.29,New Delhi,Asia,1971.014493
2,United States,20.49,331.00,9.53,WASHINGTON D.C.,North America,61903.323263
3,Brazil,1.87,212.56,8.52,Brasilia,South America,8797.515995
4,Japan,4.97,126.48,0.38,Tokyo,Asia,39294.750158
5,Germany,4.00,83.78,0.36,Berlin,Europe,47744.091669
6,United Kingdom,2.83,67.89,0.24,London,Europe,41685.078804
7,France,2.78,65.27,0.64,Paris,Europe,42592.308871
8,Italy,2.07,60.46,0.30,Rome,Europe,34237.512405
9,Canada,1.71,37.74,9.98,Ottawa,North America,45310.015898

In [62]:
# return group by object
# 2 steps: 1put data in group/ 2do additional calculation within each group
df.groupby('continent').max()[['gdp', 'population']]

                 gdp  population
continent
Asia           13.40     1439.32
Europe          4.00       83.78
North America  20.49      331.00
South America   1.87      212.56

In [66]:
for group, group_df in df.groupby('continent'):
    print(group)
    print('#' * 10)
    print(group_df[['gdp', 'population']])
    print('-' * 20)

Asia
##########
     gdp  population
1  13.40     1439.32
2   4.97      126.48
6   2.72     1380.00
--------------------
Europe
##########
    gdp  population
3  4.00       83.78
4  2.83       67.89
5  2.78       65.27
7  2.07       60.46
--------------------
North America
##########
     gdp  population
0  20.49      331.00
9   1.71       37.74
--------------------
South America
##########
    gdp  population
8  1.87      212.56
--------------------

In [3]:
set = {'aa', 'bb'}

In [4]:
set

{'aa', 'bb'}